body {
  margin: 0;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  height: 100vh;
  background-color: coral;
}

.flex-item {
  background-color: lightblue;
  padding: 20px;
  margin: 10px;
  text-align: center;
}
